<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet"></link>
    <link href="/css/thumbnail-gallery.css" type="text/css" rel="stylesheet"></link>
    <script type="application/javascript" href="/js/jquery-1.12.1.min.js"></script>
    <script type="application/javascript" href="/js/bootstrap.min.js"></script>
    <title>Title</title>
    <style type="text/css">
        .text-center {
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}">EduWatch</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/lang(path='/category?sc='+${startingChar},lang=en)}"><img src="http://www.free-country-flags.com/countries/United_Kingdom/1/tiny/United_Kingdom.png"></img>EN</a></li>
                <li><a href="#"><img src="http://www.free-country-flags.com/countries/Macedonia/1/tiny/Macedonia.png"></img>МК</a></li>
            </ul>
            <form action='search' method="get" class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" name="q" required="required" class="form-control" placeholder="Pick a topic..."></input>
                </div>
                <button type="submit" class="btn btn-success">Search</button>
            </form>
            <ul th:if="${session.user == null}" class="nav navbar-nav navbar-right">
                <li><a th:href="@{/register}"><span class="glyphicon glyphicon-user"></span> Регистрирај се</a></li>
                <li><a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Логирај се</a></li>
            </ul>
            <ul th:if="${session.user != null}" class="nav navbar-nav navbar-right">
                <li><a th:href="@{/register}"><button class="btn btn-warning"> Регистрирај Се</button></a></li>
                <li class="dropdown">
                    <a th:href="@{/profile}"><button class="btn btn-success"  th:text="@{Добредојде , } + ${session.user.getName()}"></button></a>
                    <div class="dropdown-content text-center">
                        <a th:href="@{/logout}"><button class="btn btn-primary">Излез</button></a>
                    </div>
                </li> </ul>
        </div><!--/.navbar-collapse -->
    </div>
</nav>
<div class="container">

    <div class="row">

        <div class="row">
            <div class="text-center">
                <h3>Search categories by letter:</h3>
                <ul class="pagination">
                    <li>
                        <a href="/category?sc=a"><h4>A</h4></a>
                    </li>
                    <li>
                        <a href="/category?sc=b"><h4>B</h4></a>
                    </li>
                    <li>
                        <a href="/category?sc=c"><h4>C</h4></a>
                    </li>
                    <li>
                        <a href="/category?sc=d"><h4>D</h4></a>
                    </li>
                    <li>
                        <a href="/category?sc=e"><h4>E</h4></a>
                    </li>
                    <li>
                        <a href="/category?sc=f"><h4>F</h4></a>
                    </li>
                    <li>
                        <a href="/category?sc=g"><h4>G</h4></a>
                    </li>
                    <li>
                        <a href="/category?sc=h"><h4>H</h4></a>
                    </li>
                    <li>
                        <a href="/category?sc=i"><h4>I</h4></a>
                    </li>
                    <li>
                        <a href="/category?sc=j"><h4>J</h4></a>
                    </li>
                    <li>
                        <a href="/category?sc=k"><h4>K</h4></a>
                    </li>
                    <li>
                        <a href="/category?sc=l"><h4>L</h4></a>
                    </li>
                    <li>
                        <a href="/category?sc=m"><h4>M</h4></a>
                    </li>
                    <li>
                        <a href="/category?sc=n"><h4>N</h4></a>
                    </li>
                    <li>
                        <a href="/category?sc=o"><h4>O</h4></a>
                    </li>
                    <li>
                        <a href="/category?sc=p"><h4>P</h4></a>
                    </li>
                    <li>
                        <a href="/category?sc=q"><h4>Q</h4></a>
                    </li>
                    <li>
                        <a href="/category?sc=r"><h4>R</h4></a>
                    </li>
                    <li>
                        <a href="/category?sc=s"><h4>S</h4></a>
                    </li>
                    <li>
                        <a href="/category?sc=t"><h4>T</h4></a>
                    </li>
                    <li>
                        <a href="/category?sc=u"><h4>U</h4></a>
                    </li>
                    <li>
                        <a href="/category?sc=v"><h4>V</h4></a>
                    </li>
                    <li>
                        <a href="/category?sc=x"><h4>X</h4></a>
                    </li>
                    <li>
                        <a href="/category?sc=y"><h4>Y</h4></a>
                    </li>
                    <li>
                        <a href="/category?sc=Z"><h4>Z</h4></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-lg-12">
            <h1 class="page-header" th:text="@{Categories starting with:  } + ${sc}"></h1>
        </div>

        <div th:each="cat : ${categories}" class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" th:href="@{/search?q=} + ${cat}">
                <img class="img-responsive" src="http://placehold.it/400x300" alt=""></img>
            </a>
            <a th:href="@{/search?q=} + ${cat}"><h3 th:text="${cat}"></h3></a>
        </div>
    </div>

    <hr></hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright © CodeWatch 2016</p>
            </div>
        </div>
    </footer>

</div>
</body>

</html>